@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=Corben:wght@400;700&family=Italiana&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;400;700&family=Content:wght@400;700&family=Corben:wght@400;700&family=Italiana&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  select::-ms-value {
    background: none;
  }
}

.custom-infinite-scroll::-webkit-scrollbar {
  display: none;
}
